.huscroll{
	z-index: 0;
	/*position: relative;*/
	/*height: 100%;*/
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.huscroll--v{
	overflow-x: hidden;
	overflow-y: scroll;
}

.huscroll--h{
	overflow-x: scroll;
	overflow-y: hidden;
}

.huscroll__wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.huscroll__bar{
	z-index: 1;
	position: absolute;
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
	transition: background-color 0.2s;
}

.huscroll__bar:hover{
	background-color: rgba(0,0,0,0.8);
}

.huscroll__bar--v{
	width: 4px;
	height: 100%;
	top: 0;
	right: 0;
	transition: width 0.2s, background-color 0.2s;
}

.huscroll__bar--v:hover{
	width: 12px;
}

.huscroll__bar--h{
	width: 100%;
	height: 4px;
	left: 0;
	bottom: 0;
	transition: height 0.2s, background-color 0.2s;
}

.huscroll__bar--h:hover{
	height: 12px;
}
