html,
body{
	margin: 0;
	padding: 0;
	font-family: Verdana, Tahoma, Arial;
}

.scroll{
	overflow: auto;
	max-height: 100%;
	max-width: 100%;
}

.exampleBox{
	position: relative;
	max-width: 402px; /* 400 + 2 * 1px */
	margin: 60px auto;
}

.exampleBox__title{
	margin: 0;
}

.outerBox{
	position: relative;
	height: 300px;
	border: 1px solid #aaa;
}

.nestedOuterBox{
	position: relative;
	height: 120px;
	border: 1px solid #aaa;
}

.innerBox{
	position: relative;
	box-sizing: border-box;
	padding: 20px;
	text-align: justify;
}

.innerBox--h{
	width: 1600px;
}

.innerBox p{
	margin: 0;
	font-size: 14px;
	line-height: 20px;
}

.innerBox p + p{
	margin-top: 16px;
}

.innerBox h4{
	margin: 0;
	font-size: 16px;
	line-height: 20px;
}